## By default in a before template, all you need is a valid JSON payload.
## You can also stash data to be made available to the functions in the pipeline.
## Examples: 
## - $ctx.stash.put("email", $ctx.args.email)
## - $ctx.stash.put("badgeNumber", $ctx.args.input.badgeNumber)
## - $ctx.stash.put("username", $ctx.identity.username)

#set( $input = {
	"name":$ctx.args.input.name,
    "entryType":$ctx.args.input.entryType,
    "courtType":$ctx.args.input.courtType,
    "price":$ctx.args.input.price,
    "accountId":$ctx.args.input.accountId,
    "venueId":$ctx.args.input.venueId,
    "location":$ctx.args.input.location,
    "address":$ctx.args.input.address,
    "status":1,
    "availStatus":$ctx.args.input.availStatus,
    "category":$ctx.args.input.category,
    "__typename":"Facility",
    "version":1,
    "createdBy":$ctx.identity.sub,
    "updatedBy":$ctx.identity.sub,
    "createdAt":$util.time.nowISO8601(),
    "updatedAt":$util.time.nowISO8601()
} )

#if( !$util.isNull($ctx.args.input.openHours ))
	$util.qr($input.put("openHours",$ctx.args.input.openHours))
#end

#if( !$util.isNull($ctx.args.input.description ))
	$util.qr($input.put("description",$ctx.args.input.description))
#end

#if( !$util.isNull($ctx.args.input.tags ))
	$util.qr($input.put("tags",$ctx.args.input.tags))
#end

$util.qr($ctx.stash.put("input",$input))

{}