#**
    The value of 'payload' after the template has been evaluated
    will be passed as the event to AWS Lambda.
*#

#set($arguments={
	"emailAddress":$ctx.args.username
})

{
    "version" : "2017-02-28",
    "operation": "Invoke",
    "payload": {
    	"field":"getUser",
        "arguments": $util.toJson($arguments)
    }
}